/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic */

body{
    font-family: 'Fredoka', sans-serif;
    color: white;
}

h1{
    color: rgb(224, 44, 101);
    font-size: 45px;
}

header{
    margin: 3.5rem;
    text-align: center;
}

p{
    color: rgb(29, 28, 26);
    text-align: center;
    font-size: 18px;
}

.card-section{
    margin: 3rem 0;
}

/* utilities */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* cards */

.card{
    float: left;
    background-color: rgb(37, 38, 42);
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    border-radius: 5px;
}

.card img{
    height: 100px;
    float: left;
    border-radius: 5px;
}

.text{
    margin: 1rem 0;
}

.text *{
    margin: 1rem;
    line-height: 1.4rem;
}

h3{
    display: inline;
}

a{
    text-decoration: none;
    color: rgb(62, 168, 255);
}